*, *::after, *::before, *:after, *:before {
    box-sizing: border-box
}
img {width: 50%}

body {
        margin: 0;
        padding: 0;
    background-color:  rgb(139, 139, 192)
    }

.main-header {
    background-color: rgb(35, 75, 161);
    color:  mediumturquoise;
    padding: 2rem;
    font-family: 'Fredericka the Great', cursive;
}

.main-header a {
    color:  mediumturquoise;
    
}
.main-header div {
    margin: 1rem;
    position: relative;
}

.main-header-h1 {
    margin: 0;
    padding: 0;
}

.main-header p {
    margin-bottom: 0;
    margin-top: 0.2rem;
    display: none;
}

.main-header:hover p {
    display: initial;
}

/* .content-wrapper-p{

}
 */
.content-wrapper-h3{
    background-color: rgb(102, 102, 204);
    font-family: 'Diplomata', cursive;
}


